# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dataSources.local.xml
.idea/workspace.xml
.slcache/javassist_util_proxy_FactoryHelper_5990.bytes
.slcache/javassist_util_proxy_ProxyFactory_27953.bytes
.slcache/javassist_util_proxy_RuntimeSupport$DefaultMethodHandler_989.bytes
.slcache/javassist_util_proxy_SecurityActions_3483.bytes
.slcache/org_codehaus_groovy_grails_orm_hibernate_proxy_GroovyAwareJavassistLazyInitializer_8736.bytes
.slcache/org_grails_datastore_gorm_utils_ReflectionUtils_1065.bytes
.slcache/org_grails_datastore_mapping_reflect_ClassPropertyFetcher$FieldReaderFetcher_1855.bytes
.slcache/org_grails_datastore_mapping_reflect_ClassPropertyFetcher$GetterPropertyFetcher_1941.bytes
.slcache/org_grails_datastore_mapping_reflect_ClassPropertyFetcher_12649.bytes
.slcache/org_grails_datastore_mapping_reflect_ReflectionUtils_5444.bytes
.slcache/org_hibernate_engine_UnsavedValueFactory_3665.bytes
.slcache/org_hibernate_persister_PersisterFactory_5350.bytes
.slcache/org_hibernate_property_BasicPropertyAccessor$BasicGetter_3637.bytes
.slcache/org_hibernate_property_BasicPropertyAccessor$BasicSetter_3829.bytes
.slcache/org_hibernate_property_PropertyAccessorFactory_4315.bytes
.slcache/org_hibernate_proxy_pojo_BasicLazyInitializer_4195.bytes
.slcache/org_hibernate_proxy_pojo_javassist_JavassistLazyInitializer_6507.bytes
.slcache/org_hibernate_tuple_PojoInstantiator_4093.bytes
grails-app/conf/hibernate/
grails-app/controllers/
grails-app/migrations/
grails-app/services/
grails-app/taglib/
grails-app/utils/
lib/
out/
scripts/
src/
target/classes/
test/integration/
web-app/META-INF/
